@model Web.Models.SearchModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div id="search-form">
    @Html.Action("Search", "Search");
</div>
<div id="search-results">
</div>