@model Web.Models.SearchModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="profile">
    <h2>Search</h2>

    <div id="search-form">
        @Html.Action("Search", "Search");
    </div>
    <div id="search-results">
    </div>
</div>