@model Web.Models.UserIndexViewModel

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Logged In</title>
    </head>
    <body>
    <div id="loginForm">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <h4>Congratulations, you are now logged in! Click in the menu above to use our site.</h4>

    </div>
    </body>
</html>