@model Web.Models.UserIndexViewModel

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Logged In</title>
    </head>
    <body>
        <div>
            <p>></p>
          
        </div>
    </body>
</html>