@model Web.Models.SearchModel

@if (Model.Usernames.Count == 0)
{
    <h3 class="text-error">No items matched your search query!</h3>
}
else
{
    foreach (var result in Model.Usernames)
    {
        @result.Username <br />
        @result.Firstname
        <br />
    }
}

