.Leftrow{
    width: 200px;
    height: auto;
    border-right: 2px solid;
    border-color: #000000;
    float: left;
    min-height: 400px;
}

.Rightrow{
    width: auto;
    height: auto;
    min-height: 400px;
    float: right;
}